<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/boxicons.min.css">
  <link rel="stylesheet" href="assets/css/meanmenu.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/fancybox.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
  <link rel="stylesheet" href="assets/css/customStyle.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <title> Client Sign Up-4</title>
  <link rel="icon" type="image/png" href="assets/img/logo.png">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>
<body>


<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Find Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Join Pur Community</a>
          </li>
        </ul>
        <div class="nave-left">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fa fa-user fa-lg fa-circle" style="color:  #019773; border-radius: 50%;border: 1px solid grey;padding: 10px;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<section class="signup-4-section">
  <div class="container-fluid">
    <div class="row m-4 main-row ">
      <div class="col-sm-3 p-2 text-center left-content">
        <div class="card p-3 border-radius-fifteen">
          <div class="card-body first-card-body">
            <p class="mt-2">
              <i class="fa fa-user fa-lg fa-circle"></i>
            </p>
            <h5 class="fw-bold">Mubashar Hussain</h5>
            <p class="fs-6">PHP Developer</p>

            <p>  <a  class="border-0 ps-5 pe-5 pt-2 pb-2 fw-bold standard-color" href="#">View Profile </a></p>
            <a  class=" btn btn-primary standard-button-style ps-3 pe-3 pt-2 pb-2 m-0 fw-bold" style="font-size: 13px;" href="#">Post a Project
              <a  class="border-0 ps-5 pe-5 pt-2 pb-2 fw-bold standard-color" href="#" style="font-size: 12px;">Add payment method </a>
            </a>
            <div class="mt-5" style="height: 5px; background: #707070" ></div>
            <p class="fs-6">
              Set up your account
              <span> 0%</span>
            </p>

          </div>
        </div>

        <div class="card mt-4 border-radius-fifteen">

          <div class="card-body second-card-body">

            <div class="container second-card-container">
              <p>
                <img src="assets/images/Group-315.png">
              </p>

              <h3 class="common-color"> Get Upgraded</h3>
              <p> set up your game by completing your profile</p>

            </div>
            <a href="#">
              <button class="btn btn-primary standard-button-style ps-5 pe-5 pt-2 pb-2" > Start your Profile </button>
            </a>

          </div>

        </div>

        <div class="card mt-4 border-radius-fifteen">

          <div class="card-body second-card-body">
            <div class="container">
              <h3 class="common-color"> Proposals</h3>
              <p> 0 Proposals</p>
            </div>
          </div>

        </div>

        <div class="card mt-4 border-radius-fifteen">

          <div class="card-body second-card-body">
            <div class="container">
              <h3 class="common-color"> Inbox</h3>
              <p> </p>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-9 p-2 text-center right-content">

        <div class="row ps-4 parent-row">
          <div class="col-md-12 border-radius-fifteen steps-div bg-white">
            <div class="card-body first-card-body ">
              <div class="row pb-0">
                <div class="col-md-9 bg-white">
                  <div class="card card-timeline border-0 card-shadow-bottom-margin-remove" >
                    <ul class="bs4-2">
                      <li class="step active">
                        <div class="text-dark">
<!--                          @if ($user_profile->user->email_verified_at === null)-->
                          1
<!--                          @else-->
<!--                          <i class="large material-icons fs-6 standard-color-2">check</i>-->
<!--                          @endif-->
                        </div>
                        Email
                      </li>
                      <li class="step active">
                        <div class="text-dark">
<!--                          @if ($user_profile->user->phone_verfiy_at === null)-->
                          2
<!--                          @else-->
<!--                          <i class="large material-icons fs-6 standard-color-2">check</i>-->
<!--                          @endif-->
                        </div>
                        Mobile
                      </li>
                      <li class="step active">
                        <div class="text-dark">
<!--                          @if (Auth::user()->photo == null)-->
                          4
<!--                          @else-->
<!--                          <i class="large material-icons fs-6 standard-color-2">check</i>-->
<!--                          @endif-->
                        </div>
                        Profile Pic
                      </li>

                      <li class="step active">
                        <div class="text-dark">
<!--                          @if ($user_profile->user->phone_verfiy_at === null)-->
                          3
<!--                          @else-->
<!--                          <i class="large material-icons fs-6 standard-color-2">check</i>-->
<!--                          @endif-->
                        </div>
                        Add Payment Method
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">

                  <div class="card-body first-card-body text-end fs-6 mt-3">
                    <button class="btn btn-primary standard-button-style fs-6"> Complete your profile </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12 mt-5 border-radius-fifteen jobs-div">
            <div class="card-body first-card-body text-end ">

              <div class="row mb-8 jobs-row">
                <div class="col-md-8 text-start border-end">

                  <input type="text" class="form-control border-0 h-100 fw-normal fs-6" placeholder="Find Freelancer">

                </div>

                <div class="col-md-4 text-center category-row">
                  <span><i class="fas fa-th mt-1" ></i> </span>
                  <span class="category-span"> Category</span>
                  <button class="btn btn-primary standard-button-style">
                    <i class="fas fa-search"></i>
                  </button>
                </div>

              </div>

            </div>

          </div>


          <div class="col-md-12 mt-5 border-radius-fifteen dropdown-div">
            <div class="card-body first-card-body text-end " style="vertical-align: middle">
              <div class="row mb-8 dropdown-row" >

                <div class="col-md-3 text-start border-end">
                  <div class="form-group position-relative fw-normal">
                    <label for="email" class="sr-only">Last Name</label>
                    <i class="fa fa-caret-down fa-lg position-absolute" ></i>
                    <select class="form-control input-lg border-0 dropdown-toggle">
                      <option> Location</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 text-start border-end">
                  <div class="form-group position-relative ">
                    <label for="email" class="sr-only">Last Name</label>
                    <i class="fa fa-caret-down fa-lg position-absolute" ></i>
                    <select class="form-control input-lg border-0 dropdown-toggle">
                      <option> Price</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 text-start border-end">
                  <div class="form-group position-relative ">
                    <label for="email" class="sr-only">Last Name</label>
                    <i class="fa fa-caret-down fa-lg position-absolute" ></i>
                    <select class="form-control input-lg border-0 dropdown-toggle">
                      <option> Experience</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 text-start">
                  <div class="form-group position-relative  ">
                    <label for="email" class="sr-only">Last Name</label>
                    <i class="fa fa-caret-down fa-lg position-absolute" ></i>
                    <select class="form-control input-lg border-0 dropdown-toggle">
                      <option> Project Type</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row mt-5 mb-3 news-feed">
            <div class="col-md-6 text-start">
              <span>News Feed</span>
            </div>
            <div class="col-md-6 text-end">
              <img src="assets/images/sort.png">
              <span>Sort by</span>
            </div>

          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 mt-3 text-start feed-news-content">
              <div class="card only-radius-fifteen">
                <div class="card-body first-card-body">
                  <div class="row justify-content-between mb-4 border-bottom">
                    <div class="col-md-1">
                      <img src="assets/images/freelancer-profile-picture.png">
                    </div>
                    <div class="col-md-10">
                      <p class="project-heading">Roberto C. </p>
                      <span class="price-heading-2" style="position: absolute; top: 15px; right: 30px;"> $45/hr </span>
                      <p class="standard-color-5"> Industrial design & product development consultant </p>
                    </div>

                    <div class="col-md-4 ps-3">
                          <p class="project-heading"> 98% Success </p>
                          <p class="text-secondary"> (237 Jobs)</p>
                    </div>
                    <div class="col-md-8 text-start">
                      <p class="project-heading"> Location </p>
                      <p class="text-secondary"> Lorem ipsum</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="standard-color-5 p-2 fw-normal fs-6 border-radius-seaven me-4"> Brand Development </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="standard-color-5 p-2 fw-normal fs-6 border-radius-seaven me-4"> 3D Modeling </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="standard-color-5 p-2 fw-normal fs-6 border-radius-seaven me-4">Product Design </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="standard-color-5 p-2 fw-normal fs-6 border-radius-seaven me-4"> 3D Rendering </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="standard-color-5 p-2 fw-normal fs-6 border-radius-seaven me-4"> Industrial Design </small>
                    </div>
                  </div>

                  <a href="#" class="btn standard-button-style text-white"> Hire me</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-3 text-start feed-news-content">
              <div class="card only-radius-fifteen">
                <div class="card-body first-card-body">
                  <div class="row justify-content-between mb-4 border-bottom">
                    <div class="col-md-1">
                      <img src="assets/images/freelancer-profile-picture.png">
                    </div>
                    <div class="col-md-10">
                      <p class="project-heading">Roberto C. </p>
                      <span class="price-heading-2" style="position: absolute; top: 15px; right: 30px;"> $45/hr </span>
                      <p class="standard-color-5"> Industrial design & product development consultant </p>
                    </div>

                    <div class="col-md-4 ps-3">
                      <p class="project-heading"> 98% Success </p>
                      <p class="text-secondary"> (237 Jobs)</p>
                    </div>
                    <div class="col-md-8 text-start">
                      <p class="project-heading"> Location </p>
                      <p class="text-secondary"> Lorem ipsum</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Brand Development </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Modeling </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Product Design </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Rendering </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Industrial Design </small>
                    </div>
                  </div>

                  <a href="#" class="btn standard-button-style text-white"> Hire me</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-3 text-start feed-news-content">
              <div class="card only-radius-fifteen">
                <div class="card-body first-card-body">
                  <div class="row justify-content-between mb-4 border-bottom">
                    <div class="col-md-1">
                      <img src="assets/images/freelancer-profile-picture.png">
                    </div>
                    <div class="col-md-10">
                      <p class="project-heading">Roberto C. </p>
                      <span class="price-heading-2" style="position: absolute; top: 15px; right: 30px;"> $45/hr </span>
                      <p class="standard-color-5"> Industrial design & product development consultant </p>
                    </div>

                    <div class="col-md-4 ps-3">
                      <p class="project-heading"> 98% Success </p>
                      <p class="text-secondary"> (237 Jobs)</p>
                    </div>
                    <div class="col-md-8 text-start">
                      <p class="project-heading"> Location </p>
                      <p class="text-secondary"> Lorem ipsum</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Brand Development </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Modeling </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Product Design </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Rendering </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Industrial Design </small>
                    </div>
                  </div>

                  <a href="#" class="btn standard-button-style text-white"> Hire me</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-3 text-start feed-news-content">
              <div class="card only-radius-fifteen">
                <div class="card-body first-card-body">
                  <div class="row justify-content-between mb-4 border-bottom">
                    <div class="col-md-1">
                      <img src="assets/images/freelancer-profile-picture.png">
                    </div>
                    <div class="col-md-10">
                      <p class="project-heading">Roberto C. </p>
                      <span class="price-heading-2" style="position: absolute; top: 15px; right: 30px;"> $45/hr </span>
                      <p class="standard-color-5"> Industrial design & product development consultant </p>
                    </div>

                    <div class="col-md-4 ps-3">
                      <p class="project-heading"> 98% Success </p>
                      <p class="text-secondary"> (237 Jobs)</p>
                    </div>
                    <div class="col-md-8 text-start">
                      <p class="project-heading"> Location </p>
                      <p class="text-secondary"> Lorem ipsum</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Brand Development </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Modeling </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Product Design </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> 3D Rendering </small>
                    </div>
                    <div class="col-md-4 mt-3 mb-4">
                      <small class="only-shadow standard-color-5 p-2 fw-normal fs-6 border-radius-ten me-4"> Industrial Design </small>
                    </div>
                  </div>

                  <a href="#" class="btn standard-button-style text-white"> Hire me</a>
                </div>
              </div>
            </div>

          </div>


        </div>

      </div>

    </div>
  </div>
</section>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/meanmenu.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/cursor.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/ajaxchimp.min.js"></script>
<script src="assets/js/main.js"></script>


</body>
</html>